.centerText{text-align:center;}
.rightText{text-align:right;}
@font-face {font-family: carumba-plain;	src: url('fonts/carumba-plain.ttf');}
.zombie_font{font-family: carumba-plain;font-size:3em;}
.vertical_spacing{margin-top:20px;}
.h65{margin-top:65px;}
.optionalLabel{color:gray;font-style: italic;font-size:.9em;}
.summary_table tbody tr > td:last-of-type{text-align:center}
.summary_table thead tr > th:last-of-type{text-align:center}
/*CSS for Header*/

#landing_page ul{margin-left:20%;}
#landing_page p, h3{text-align: center;} 
/*CSS for Footer*/
	html, body {height: 100%;}
	.wrapper {
		min-height:100%;
		margin-bottom:-8em;
	}
	.footer, .push {
		height: 8em;
	}
	.footer{
		border-top:1px solid #888;
		padding-top:1em;
	}
	#footer_links a{
		display:inline;
		margin:0px 5px;
	}
	#footer_links{
		text-align: center;
		width:100%;
		margin-bottom:.5em;
	}
	#footer_info{
		text-align: center;
		width:100%;	
	}
	#footer_logo  a {
	display:block;
	width:100%;
	}
	#footer_logo  img{
		height:50px;
		width:104px;
		margin-left:auto;
		margin-right:auto;
	}
	table.footable{
	max-width:100%!important;
	width:100%!important;
	}
	
	#result_table_holder{
	max-width:900px!important;
	width:auto;
	margin-left:auto;
	margin-right:auto;	
	height:400px;
	max-height:70%;
	overflow-x:hidden;
	overflow-y:scroll;
	border-bottom: 1px solid #ccc;
	border-top: 1px solid #ccc;
	}
	
	#summary_table_holder{
	max-width:900px;
	margin-left:auto;
	margin-right:auto;	
	}
	
	.truncated-results-header{
	max-width:900px!important;
	width:auto;
	margin-left:auto;
	margin-right:auto;
	}
	
#community_select .control-group label{	width:85px;}
#industry_select .control-group label{	width:100px;}


.good_cell{color:#03a500;font-weight:bold} /*background-color:#86cc8e!important;color:#13bd00;*/
.bad_cell{color:#980000;font-weight:bold}/*background-color:#db8c8c!important;color:#651010!important;*/
.good_summary_cell{color:#03a500;}
.bad_summary_cell{color:#980000;}


.summary_gray_val_holder,
.summary_good_val_holder,
.summary_bad_val_holder{
	width:30px;
	height:30px;
	line-height:30px;
	margin-left:auto;
	margin-right:auto;
	-webkit-border-radius: 15px;
	-moz-border-radius: 15px;
	border-radius: 15px;	
	text-align:center;
	font-weight:bold;
	color:white;	
}
.summary_good_val_holder{	background-color:#59ab5b;}
.summary_bad_val_holder{	background-color:#d24d53;}
.summary_gray_val_holder{	background-color:#777;}
.dot{
	width:10px;
	height:10px;
	line-height:10px;

	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;	
	display:inline-block;
	}
.good_cell_dot{	background-color:#59ab5b;}
.bad_cell_dot{	background-color:#d24d53;}
._dot{	background-color:#777;}


.compliance_dots{	
	margin-left:auto;
	margin-right:auto;
	width:40px;
	display:none;
}


/*Because IE8 doesn't support CSS3 Media Queries, I've moved the follow rules outside of them for graceful degradation*/
	#logo_container {margin-top:56px;margin-bottom:15px;}
	#horizontal_OR_divider{display:none;}
	#enviroTrak_logo{width:50%;margin-left:25%;margin-right:25%;}	
/* All Desktops */
@media (min-width: 768px){
	#vertical_OR_divider{display:block;}


	#industry_select{margin-left:0px;margin-right:10px;}
	#industry_select .control-label{width:120px;}
	#industry_select .controls{margin-left:105px;}
	#community_select .control-group .controls{	margin-left:90px;}
	#panel_content_holder{margin-left:10%;margin-right:10%;}
	input{width:90%;}
	select{width:100%;}
	#footer_text {float:left;width:60%;margin-left:20%}	
}

/* Narrow Desktops */
@media (max-width: 979px) and (min-width: 768px){
	#logo_container {margin-top:0px;margin-bottom:15px;}
	#footer_text {float:left;width:60%;margin-left:20%}
}

/*Tablet*/
@media (max-width: 767px) and (min-width: 481px){
	#logo_container {margin-top:0px;margin-bottom:15px;}
	#vertical_OR_divider{display:none;}
	#horizontal_OR_divider{display:block;}
	.vertical_spacing{display:none;}
	#footer_logo {width:100%;display:block;}
}

@media (max-width: 579px){
	.compliance_dots{display:inline-block}
	}
/*Phone*/
@media (max-width: 480px) {
	#logo_container {margin-top:0px;margin-bottom:15px;}
	#horizontal_OR_divider{display:block;}
	#vertical_OR_divider{display:none;}
	.phone-last{border-right:1px solid #ccc;}
	.summary_table .footable-cell-detail{border-right:1px solid #ccc;}
	#enviroTrak_logo{width:80%;margin-left:10%;margin-right:10%;}	
	#query_page_title_text h3{text-align:center;}
	#query_bottom_text{text-align:center;}
	#query_bottom_button{text-align:center;}
	.control-group{text-align:center}
	#community_select .control-group label{width:100%;text-align:center}
	#industry_select .control-group label{width:100%;text-align:center}
	.form-horizontal .control-label{width:100%;text-align:center}	


	
	
	.summary_table tbody tr > td:last-of-type{width:1px;white-space:nowrap;text-align:center}
	
	
	
	
	#EZW_header_text{font-size:2.0em;}
	#landing_page h3{
		font-size:1.3em; 
		line-height:1.4em;
	}
	#landing_page ul{margin-left:15px;}
	#see_facility_results{max-width:80%;}
	input{max-width:92%;}
	select{max-width:100%;}
	.vertical_spacing{display:none;}
	.well{padding-left:5px;padding-right:5px;}
}


/* For testing different media breakpoints and stuff. Comment out when not using 
@media (min-width: 768px){body {color:red}}
@media (max-width: 979px) and (min-width: 768px){body {color:blue}}
@media (max-width: 767px) and (min-width: 481px){body {color:green}}
@media (max-width: 480px) {body {color:yellow}}

/**/