<div id="bigDataGoesLocal_page">
	<h3>Big Data Goes Local</h3>
	<div class="row-fluid">
		<div class="span8 offset2">
			<p>Federal agencies and programs are quite appropriately challenged to demonstrate their efficacy in meeting their mission and goals.  In addition they must respond to calls or requirements for transparency of operations and public access to information they gather.  Programs have begun to pursue their mission in creative ways, including direct engagement with and support from their ultimate customers, the public. Today, most federal program do not yet have effective mobile solutions that deliver on their core mission AND service individual citizens, particularly mobile device users.  EnviroTRAK is a web-based mobile solution that demonstrates:</p>
			<ul>
				<li>how federal agencies can curate their information repositories to make them more usable</li>
				<li>how the public, with minimal effort, can:
				<ul>
					<li>explore a topic of interest, and </li>
					<li>monitor events and changes that are of interest to them</li>
				</ul></li>
			</ul>
			<p>Based on our experience, this type of lightweight engagement fits the information consumption behavior of lay citizens, can provide guidance on citizen action and explanations of relevant governmental programs, and, in the future, could be part of a dialogue between federal programs and individual citizens. </p>

			<p>To learn more about what is possible in terms of engaging users with federal data and programs, please contact <a href="mailto:EnviroTRAK@abtassoc.com">EnviroTRAK@abtassoc.com</a></p>

		</div>
	</div>
	<div class="vertical_spacing">&nbsp;</div>
</div>


