<div id="contact_us_page">
	<h3>Something to Say?</h3>
	<div class="row-fluid">
		<div class="span8 offset2">
			<p>Your perspective is unique, and we want to know what you think about this tool!</p>
		</div>
	</div>

	<div class="row-fluid">
		<div class="span8 offset2">
		<b>All fields are optional</b><br/><br/>
			<div class="control-group">
				<label class="control-label" for="textarea" id="Q1">What other data sets should we present this way? Be creative- there's no judgement here.</label>
				<div class="controls">
				<textarea class="input-xlarge" id="A1" rows="3" style="width:90%"></textarea>
				</div>
			</div>

			<div class="control-group">
				<label class="control-label" for="textarea" id="Q2">Do you have any thoughts or feedback about the tool itself?</label>
				<div class="controls">
				<textarea class="input-xlarge" id="A2" rows="3" style="width:90%"></textarea>
				</div>
			</div>



			<div class="control-group">
				<label class="control-label" for="textarea">Your Email (optional)</label>
				<div class="controls">
				<textarea class="input-xlarge" id="UserEmail" rows="1" style="width:50%"></textarea>
				</div>
			</div>
			<div><a href="#" class="btn btn-primary btn-large " style="width:50px" id="send_comment">Send</a></div>
		</div>
	</div>
	<script type="text/javascript">
		$('#send_comment').click(function(){
					//$('#panel_content_holder').empty();

						$.ajax({
							cache: false,
							dataType: 'html',
							url: 'scripts/sendUserFeedback.php',
							data: 	{	Q1: $('#Q1').html(),
										A1: $('#A1').val(),
										Q2: $('#Q2').html(),
										A2: $('#A2').val(),
										UserEmail:$('#UserEmail').val()
									},
							success: function (response) {
								$('#panel_content_holder').empty();
								$('#panel_content_holder').html("Thanks for your feedback! We'll be sure to take it in careful consideration as we strive to make EnviroTRAK the best tool it can be. Use the options on the nav bar above to return to EnviroTRAK.");
							},
							error: function(response) {
								console.log(response);
							}
						});
		});
	</script>

	<div class="vertical_spacing">&nbsp;</div>
</div>

 <div class="row sign_preview">
  <!-- <div class="span5"><a href="#" class="btn btn-primary btn-large" id="sign_up">Sign Up</a></div> -->

  <!-- <div class="span5"><a href="#" class="btn btn-primary btn-large">Preview Results</a></div> -->
</div>


<script style="text/javascript">
	$('#show_me_button').click(function(){
	    $('#panel_content_holder').empty();
		$.ajax({
			cache: false,
			dataType: 'html',
			success: function (response) {
				$('#panel_content_holder').html(response);
			},
			url: 'ajax_content/run_query.html'
		});
	});
</script>
