<style>
#about_the_Data h1{
font-size:2.0em;
color:#135eab;
}
#about_the_Data h2{
font-size:1.3em;
color:#167c28;
margin-bottom:0px;
}
#about_the_Data p{
}
#about_the_Data b{}
</style>
<div id="info_page">
	<h3>EnviroTRAK Help Page</h3>
	<div class="row-fluid">
		<div class="span8 offset2" id="about_the_Data">
		<h1>About the Data</h1>
		<p>The data we are presenting comes from the U.S. Environmental Protection Agency and its partner state and local environmental agencies, all of whom help enforce federal environmental laws. Updated once a month, EnviroTRAK summarizes the government's inspections and enforcement actions, as well as each facility's compliance with:</p>
		<ul>
			<li>the Clean Air Act</li>
			<li>the Clean Water Act</li>
			<li>the Resource Conservation and Recovery Act (the law governing management of hazardous wastes)</li>
		</ul>
		<p>There are a number of other federal and state environmental laws that protect our environment, but are not included in EnviroTRAK. For example, the Safe Drinking Water Act limits industrial activity near drinking water wells and reservoirs. If you are interested, see: <a href="http://echo.epa.gov/tools/data-downloads"  target="_blank">http://echo.epa.gov/tools/data-downloads</a> for more details.</p>


		<h2>What is an Inspection?</h2>
		<p>An inspection occurs when a representative of EPA undertakes oversight activities needed to determine if a facility is in compliance.  Some inspections include a site visit. Others may involve review of monitoring or required recordkeeping at the facility or submitted to the regulator's offices.  Typically, large facilities have more regulatory requirements for which EPA may have an inspection goal of once every year. Smaller facilities may be inspected less frequently, with no established goal for inspections. For more details on inspections, visit <a href="http://echo.epa.gov/help/facility-search/all-data-search-results-help#inspections" target="_blank">http://echo.epa.gov/help/facility-search/all-data-search-results-help#inspections</a>.</p>

		<h2>In Violation/Violation Resolved</h2>
		<p>When a facility is determined by an inspection or self-disclosure to be in violation of one or more regulatory requirements, their compliance status is designated as "in violation."  Examples include, exceeding the allowed concentration of a pollutant in their wastewater discharge, or, proper storage of waste solvent. It remains 'in violation' until they take all necessary complying actions and address the problem(s). In cases where compliance might require a change in facility operations, such as, modification to a wastewater treatment plant, it may take a long period of time to resolve the violation. </p>

		<h2>What is an Enforcement Action?</h2>
		<p>Formal enforcement actions include judicial (in the courts) and administrative cases brought by EPA's representative against the owner/operator responsible for a facility meeting its environmental obligations under federal laws.  Facilities are required to demonstrate they have made all corrective actions necessary and often, but not always, to pay penalties in order to resolve their case.  In addition, there are informal enforcement actions, such as a notice of violation, which are used by regulators to prompt facilities to return to compliance. Informal actions and criminal cases pursued by the Department of Justice are not included in EnviroTRAK. For more details on what defines an enforcement action visit <a href="http://echo.epa.gov/help/reports/dfr-data-dictionary#formenf" target="_blank">http://echo.epa.gov/help/reports/dfr-data-dictionary#formenf</a>.</p>

		<h2>To What Industry Does the Facility Belong</h2>
		<p>To help users understand the business of each facility, we present the industry classifications associated with each facility's records.  Some facilities are complex and may be associated with several industry classifications, such as petroleum refining and chemical manufacture.  The Industry Search can be used to make comparisons across facilities with similar processes and using the same chemicals.</p>

		<h2>Current Compliance</h2>
		<p> 'Current Compliance' indicates if there is currently a violation in any of the three of the statutes monitored within EnviroTRAK.  If this information hasn't changed in the last month, the text will be gray. However, if the facility has moved from <b>violation(s)</b> to no <b>violations</b> in the past month, the text will be green and bolded. Conversely, if the facility has gone from no <b>violations</b> to <b>violation(s)</b>, the text will be red and bolded.</p>

		<h2>Enforcement Actions (5yrs)</h2>
		<p>'Enforcement Actions' is the number of formal enforcement actions taken against a facility over the past 5 years. If the facility has had a new enforcement action taken against it in the past month, the number will be red and bolded. Otherwise, it will be gray.</p>


		<h2>Last Inspected</h2>
		<p>'Last Inspected' tells you when the facility was last inspected by government regulators. There are three potential values: <b>Within 1 Year</b>, <b>> 1 Year</b>, and <b>Never</b>.  If there has been a new inspection in the past month, <b>Within 1 Year</b> is displayed green and bolded. </p>

		Clicking the <b>+</b> signs will display additional information about the facility, such as their address, their industry (<b>What They Do</b>), and a link for <b>More Information</b>, which will open the facility's Detailed Facility Report in ECHO, EPA's website for publishing the compliance information of federally permitted facilities.</p>

		<p><a href="http://echo.epa.gov/resources/general-info/learn-more-about-echo" target="_blank">Click here to learn more about ECHO</a></p>

		<h1>EnviroTRAK on Your Mobile Device</h1>

		<p>We tried to make EnviroTRAK easy as possible to use.  HTML5 auto-populates the <b>City, State</b> input so you don't have to type it in - this information is not saved in any way.  To determine the best display width of your browser/screen and adjust the formatting of the site for various devices, we use CSS3 media queries. </p>


		<h2>The Navigation Bar</h2>
		<p>The top navigation bar provides a consistent way to move back and forth between parts of the EnviroTRAK tool.</p>
		<ul>
		<li><b>Home</b> will return you to the landing page and allow you to run a query. </li>
		<li>The <b>"i" icon</b> tells you how the tool works and the EnviroTRAK data dictionary (but you probably know that as you are reading it now). </li>
		<li><b>What Can I Do</b> suggests how to learn more and actions you can take to ensure everyone complies with the environmental laws that protect our environment and human health. </li>
		<li><b>Big Data Goes Local</b> tells you a bit about why we built EnviroTRAK.</li>
		<li><b>Contact/Feedback </b>  - tell us what you think about EnviroTRAK to submit any questions. We'll write back!</li>
		</ul>

		<h2>Searching</h2>
		<p>We've made it simple for you to learn about the environmental performance of facilities in the area or industry you are interested in and learn more about new inspections, new facility, new enforcement actions taken.  Start by selecting the <b>Show Me</b> button on the home page. Fill out a ZIP Code, City/State, or Industry and hit the <b>See How these Facilities Are Doing Now</b> button to get results your query.</p>

		<p>Your EnviroTRAK search returns two tables. The first tells if anything has changed since last month; the second table shows more details about each facility's compliance with U.S. environmental laws.  If you are viewing EnviroTRAK on desktop, you will see columns with color-coded text. If you are using a mobile device, you will see a three-dot status icon representing: current compliance status, enforcement actions and inspections. Clicking the "+" button for any facility you are interested in will show you the details.</p>
		</div>
	</div>
	<div class="vertical_spacing">&nbsp;</div>
</div>


