<div id="landing_page">
	<h3><span style="color:#135eab">EnviroTRAK</span> will tell you:</h3>
	<div class="row-fluid">
		<div class="span8 offset2">
			<ul style="list-style-type:none">
				<li>- When government inspectors have checked on a facility</li>
				<li>- When the government has taken an enforcement action</li>
				<li>- When a facility  improves their compliance status or slips</li>
			</ul>
		</div>
	</div>
</div>

 <div class="row sign_preview">
  	<div class="span12 centerText"><a class="btn btn-primary btn-large " style="width:100px" id="show_me_button">Show Me</a></div>
 </div>


<script style="text/javascript">
	$('#show_me_button').click(function(event){
	event.preventDefault();
	    $('#panel_content_holder').empty();
		$.ajax({
			cache: false,
			dataType: 'html',
			success: function (response) {
				$('#panel_content_holder').html(response);
				window.location.hash = "panel_top";
			},
			url: 'ajax_content/run_query.html'
		});
	});
</script>
