    <div class="row-fluid">
      <div class="span12 centerText" id="query_page_title_text">

        <h3>What Do You Want To Know About?</h3>
      </div>
    </div>


<div class="row-fluid">
	<div class="span5" id="community_select">
		<div class="row-fluid">
			<div class="span12">
				<div class="vertical_spacing">&nbsp;</div>
				<form class="form-horizontal">
	    			<div class="control-group">
		            	<label class="control-label" for="inputZIP">ZIP Code</label>
			            <div class="controls">
			              <input type="text" class="input" id="inputZIP"></input>
			          	</div>
		          	</div>
	    			<div class="control-group">
		            	<label class="control-label" for="inputCityState">City, State</label>
			            <div class="controls">
			              <input type="text" class="input" id="inputCityState"></input>
			          	</div>
		          	</div>
	    			<div class="control-group" style="text-align:center">

						<script type="text/javascript">
						var geoAJAX;

						if (navigator.geolocation) {
							var timeoutVal = 10 * 1000 * 1000;
							var x = navigator.geolocation.getCurrentPosition(
								displayPosition,
								displayError,
								{ enableHighAccuracy: true, timeout: timeoutVal, maximumAge: 0 }
							);
						}

						$('#inputZIP').focus(function(){
							$('#inputCityState').val("");
							$('#inputSIC').val('');
							if (!(geoAJAX === undefined)){geoAJAX.abort()};
						});

						$('#inputCityState').focus(function(){
							$('#inputZIP').val("");
							$('#inputSIC').val('');
							if (!(geoAJAX === undefined)){geoAJAX.abort()};
						});

						$('#inputSIC').change(function(){
							$('#inputZIP').val("");
							$('#inputCityState').val("");
							if (!(geoAJAX === undefined)){geoAJAX.abort()};
						});

						function displayPosition(position) {
						/*$('#nearMeNowButton').animate({width: ($('#nearMeNowButton').width()-$('#nearMePacLoader').width())},100);
						$('#nearMePacLoader').show();	*/
						  var data = "latitude="+position.coords.latitude+"&longitude="+position.coords.longitude;
							geoAJAX = $.get('ajax_content/location_finder.php',data, function(data) {
									$('#inputCityState').val(data);
							}).done(function(){
							});

						}
						function displayError(error) {
						  var errors = {
							1: 'Permission denied',
							2: 'Position unavailable',
							3: 'Request timeout'
						  };
						  /*if(error.code == 1){alert("Sorry, but the geolocation abilities of your HTML5 browser have been disabled. Please use the input boxes.");					   }
						  if(error.code == 2){alert("Your position's unavaible! Where are you..? Please use the input boxes");   }
						  if(error.code == 3){alert("The request timed out. Please use the input boxes");	}	*/

						}
						</script>
		          	</div>
	          	</form>
			</div>
		</div>
	</div>

	<div id="vertical_OR_divider" class="span2 centerText" style="height:160px"><!-- To resize the bar, change this height and change the height of the three contained divs to equal the new height-->
		<div class="row-fluid" style="height:60px">
			<div style="width:4px;margin-left:auto;margin-right:auto;background-color:black;height:100%"></div>
		</div>
		<div class="row-fluid" style="height:40px;"><h5>OR</h5></div>
		<div class="row-fluid" style="height:60px">
			<div style="width:4px;margin-left:auto;margin-right:auto;background-color:black;height:100%"></div>
		</div>
	</div>

	<div id="horizontal_OR_divider" class="span2 centerText" style="height:60px">
		<div style="width:45%;float:left;">
			<div style="border-top:2px solid black;width:100%;margin-top:20px;">&nbsp;</div>
		</div>
		<div style="width:10%;line-height:60px;float:left;"><h5>OR</h5></div>
		<div style="width:45%;float:left;"><div style="border-top:2px solid black;width:100%;margin-top:20px;">&nbsp;</div>
		</div>
	</div>


	<div class="span5" id="industry_select">
		<div class="row-fluid">
			<div class="span12">
				<form class="form-horizontal">
					<div class="control-group">
						<div class="vertical_spacing h65"></div>
		            	<label class="control-label">Select Industry</label>
			            <div class="controls">
							<select id="inputSIC">
								<option value=""></option>
								<OPTGROUP LABEL="Agriculture, Forestry, Fishing">
									<option value="01">Agricultural Production--Crops</option>
									<option value="02">Agricultural Production--Livestock</option>
									<option value="07">Agricultural Services</option>
									<option value="09">Fishing, Hunting, And Trapping</option>
									<option value="08">Forestry</option>
								</OPTGROUP>

								<OPTGROUP LABEL="Mining">
									<option value="12">Coal Mining</option>
									<option value="10">Metal Mining</option>
									<option value="14">Nonmetallic Minerals, Except Fuels</option>
									<option value="13">Oil And Gas Extraction</option>
								</OPTGROUP>

								<OPTGROUP LABEL="Construction">
									<option value="15">General Building Contractors</option>
									<option value="16">Heavy Construction, Ex. Building</option>
									<option value="17">Special Trade Contractors</option>
								</OPTGROUP>

								<OPTGROUP LABEL="Manufacturing">
									<option value="23">Apparel And Other Textile Products</option>
									<option value="28">Chemicals And Allied Products</option>
									<option value="36">Electronic &amp; Other Electric Equipment</option>
									<option value="34">Fabricated Metal Products</option>
									<option value="20">Food And Kindred Products</option>
									<option value="25">Furniture And Fixtures</option>
									<option value="35">Industrial Machinery And Equipment</option>
									<option value="38">Instruments And Related Products</option>
									<option value="31">Leather And Leather Products</option>
									<option value="24">Lumber And Wood Products</option>
									<option value="39">Miscellaneous Manufacturing Industries</option>
									<option value="26">Paper And Allied Products</option>
									<option value="29">Petroleum And Coal Products</option>
									<option value="33">Primary Metal Industries</option>
									<option value="27">Printing And Publishing</option>
									<option value="30">Rubber And Misc. Plastics Products</option>
									<option value="32">Stone, Clay, And Glass Products</option>
									<option value="22">Textile Mill Products</option>
									<option value="21">Tobacco Products</option>
									<option value="37">Transportation Equipment</option>
								</OPTGROUP>

								<OPTGROUP LABEL="Transportation, Communication,"></OPTGROUP>
								<OPTGROUP LABEL="Electric, Gas, and Sanitation Services">
									<option value="48">Communication</option>
									<option value="49">Electric, Gas, And Sanitary Services</option>
									<option value="41">Local And Interurban Passenger Transit</option>
									<option value="46">Pipelines, Except Natural Gas</option>
									<option value="40">Railroad Transportation</option>
									<option value="45">Transportation By Air</option>
									<option value="47">Transportation Services</option>
									<option value="42">Trucking And Warehousing</option>
									<option value="43">U.S. Postal Service</option>
									<option value="44">Water Transportation</option>
								</OPTGROUP>

								<OPTGROUP LABEL="Wholesale Trade">
									<option value="50">Wholesale Trade--Durable Goods</option>
									<option value="51">Wholesale Trade--Nondurable Goods</option>
								</OPTGROUP>

								<OPTGROUP LABEL="Retail Trade">
									<option value="56">Apparel And Accessory Stores</option>
									<option value="55">Automotive Dealers &amp; Service Stations</option>
									<option value="52">Building Materials &amp; Garden Supplies</option>
									<option value="58">Eating And Drinking Places</option>
									<option value="54">Food Stores</option>
									<option value="57">Furniture And Homefurnishings Stores</option>
									<option value="53">General Merchandise Stores</option>
									<option value="59">Miscellaneous Retail</option>
								</OPTGROUP>

								<OPTGROUP LABEL="Finance, Insurance, and Real Estate">
									<option value="60">Depository Institutions</option>
									<option value="67">Holding And Other Investment Offices</option>
									<option value="63">Insurance Carriers</option>
									<option value="64">Insurance Agents, Brokers, &amp; Service</option>
									<option value="61">Nondepository Institutions</option>
									<option value="65">Real Estate</option>
									<option value="62">Security And Commodity Brokers</option>
								</OPTGROUP>

								<OPTGROUP LABEL="Services">
									<option value="79">Amusement &amp; Recreation Services</option>
									<option value="75">Auto Repair, Services, And Parking</option>
									<option value="73">Business Services</option>
									<option value="82">Educational Services</option>
									<option value="87">Engineering &amp; Management Services</option>
									<option value="80">Health Services</option>
									<option value="70">Hotels And Other Lodging Places</option>
									<option value="86">Membership Organizations</option>
									<option value="76">Miscellaneous Repair Services</option>
									<option value="78">Motion Pictures</option>
									<option value="84">Museums, Botanical, Zoological Gardens</option>
									<option value="81">Legal Services</option>
									<option value="72">Personal Services</option>
									<option value="88">Private Households</option>
									<option value="89">Services, Nec</option>
									<option value="83">Social Services</option>
								</OPTGROUP>

								<OPTGROUP LABEL="Public Administration">
									<option value="96">Administration Of Economic Programs</option>
									<option value="94">Administration Of Human Resources</option>
									<option value="95">Environmental Quality And Housing</option>
									<option value="91">Executive, Legislative, And General</option>
									<option value="93">Finance, Taxation, &amp; Monetary Policy</option>
									<option value="92">Justice, Public Order, And Safety</option>
									<option value="97">National Security And Intl. Affairs</option>
									<option value="99">Nonclassifiable Establishments</option>
								</OPTGROUP>
							</select>
						</div>
					</div>
				</form>
			</div>
		</div>
	</div>
</div>
	<div class="row-fluid">
		<div class="span12 centerText"  id="query_bottom_button">
			<br/>
			<a class="btn btn-primary btn-large " id="see_facility_results">See how these facilities are doing now</a>
		</div>
	</div>

<script style="text/javascript" src="js/getStateCodes.js" />
<script style="text/javascript">
	function query (data) {
		$.ajax({
			cache: false,
			data: data,
			dataType: 'html',
			success: function (response) {
				$('#panel_content_holder').empty();
				$('#panel_content_holder').html(response);
			},
			url: 'ajax_content/results_table.php'
		});
	}

	$('#see_facility_results').click(function(event){
		event.preventDefault();
		var data = {
			city: '',
			state: '',
			zip: $.trim($('#inputZIP').prop('value')),
			sic: $('#inputSIC option:selected').prop('value')
		};

		// get geocoded city and state from the cityState string
		var cityState = $.trim($('#inputCityState').prop('value'));
		if (cityState.length > 0) {
			$.ajax({
				url: 'http://open.mapquestapi.com/geocoding/v1/address?key=XXXXXXXXXX&',
				data: {
					location: cityState,
					informat: 'kvp',
					outFormat: 'json',
					maxResults: 10
				},
				dataType: 'jsonp',
				success: function (geocode) {
					var locations = geocode.results[0].locations

					for (var i = 0; i < locations.length; i++) {
						// parse the adminAreas to find city and state
						for (var j = 1; j < 6; j++) {
							if (typeof(locations[i]['adminArea' + j] != 'undefined')) {
								if (locations[i]['adminArea' + j + 'Type'] == 'City') {
									data.city = locations[i]['adminArea' + j];
								}
								if (locations[i]['adminArea' + j + 'Type'] == 'State') {
									var state = locations[i]['adminArea' + j];
									// if it's a 2-letter state code, return it, otherwise search for the two letter state code
									data.state = (state.length == 2) ? state : getStateCode(state);
								}
							}
						}
						if (data.city == '' || data.state == '') {
							// reset both
							data.city = '';
							data.state = '';
						}
						else {
							// we found a match, so break the loop
							break;
						}
					}

					if (data.city == '' || data.state == '') {
						alert('Please enter a valid city and state.');
						return false;
					}

					query(data);
				},
				error: function (response) {
					//console.log(response);
					var arr = [];
					for (var x in response) {
					var str = x + ':<br />' + response[x];
						arr.push(str.replace('\n', '<br />'));
					}
					$('#panel_content_holder').empty();
					$('#panel_content_holder').html(arr.join('<br /><br /><br />'));
				}
			});
		}
		else {
			query(data);
		}
	});
</script>
