 <div id="bigDataGoesLocal_page">
  <h3>What Can I Do?</h3>
	<div class="row-fluid">
		<div class="span8 offset2">
			<p>Knowing about facilities' compliance with the nation's environmental laws is important. Because the U.S. Environmental Protection Agency, state and Tribal governments share the responsible for administering the environmental laws passed by Congress, you might have to contact more than one agency if you want more information.</p>
			<ul>
				 <li>If you think someone may be violating the law, EPA has an anonymous tip line. <a href="http://www.epa.gov/tips/" target="_blank">http://www.epa.gov/tips/</a></li>
				 <li>If you would like to know more details about a violation, inspection history, or a facility's operations and what they mean to you:
					 <ul>
						 <li>Develop some action items after sharing the information with colleagues, family and friends</li>
						 <li>Work with EPA's desktop version ECHO</li>
						 <li>Contact your state environmental agency (ECOS site <a href="http://www.ecos.org/section/states" target="_blank">http://www.ecos.org/section/states</a>) or EPA Regional Office (<a href="http://www.epa.gov/aboutepa/visiting-regional-office" target="_blank">http://www.epa.gov/aboutepa/visiting-regional-office</a>) - these sites are not mobile-friendly but do contain contact information.  EPA and state environmental agencies' missions are to protect human health and the environment. </li>
						 <li>Look for those facilities handling toxic chemicals and potential health effects <a href="http://myrtk.epa.gov/info/search.jsp" target="_blank">http://myrtk.epa.gov/info/search.jsp</a></li>
						 <li>Contact company representatives to ask about their performance and what they are doing to support and protect your community</li>
						 <li>Contact your Local Emergency Planning Commission, often part of the Fire Department or Emergency Planning</li>
					 </ul>
				 </li>
				 <li>If you want to know more about the rules and regulations that protect human health and the environment, go to <a href="http://www.epa.gov/lawsregs/" target="_blank">http://www.epa.gov/lawsregs/</a></li>
				 <li>If you want to see more detailed facility compliance information, go to <a href="http://echo.epa.gov/" target="_blank">http://echo.epa.gov/</a></li>
				 <li>If you believe there is an error in the information  being presented, you can notify EPA <a href="http://oaspub.epa.gov/enviro/ets_grab_error.smart_form?P_CALLER_URL=http://www.epa.gov/epahome/comments.htm" target="_blank">http://oaspub.epa.gov/enviro/ets_grab_error.smart_form?P_CALLER_URL=http://www.epa.gov/epahome/comments.htm</a></li>
			</ul>
			<p>Still don't see what you want? Drop us a note in the "Contact" tab and we'll get back to you.</p>
		</div>
	</div>
	<div class="vertical_spacing">&nbsp;</div>
</div>


